body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .quiz-container {
    max-width: 600px; /* Tăng kích thước hộp chứa */
    padding: 20px;
    /* Sửa lại hiệu ứng border-radius, background và box-shadow */
    border-radius: 35px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  
        31px 31px 44px #7b7b7b,
        -31px -31px 44px #ffffff;
}
  
  h1 {
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  #question-container {
    margin-bottom: 20px;
  }
  
  #question-text {
    font-size: 20px; /* Tăng kích thước font cho câu hỏi */
    margin-bottom: 15px; /* Tăng khoảng cách dưới câu hỏi */
}
  
  #answer-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  button {
    height: 40px;
    font-size: 16px;
    background-color: #3498db; /* Màu nền */
    color: #fff; /* Màu chữ */
    border: 2px solid #2980b9; /* Viền nút */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s; /* Hiệu ứng hover */
}

    .button:hover {
        transform: scale(1.05);
        background: linear-gradient(145deg, #f0f0f0, #cacaca);
        color: #3498db;
    }

  
  #controls-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #timer-container {
    display: flex;
    align-items: center;
  }
  
  #timer-text {
    font-size: 14px;
  }
  
  #timer {
    font-weight: bold;
    margin-left: 5px;
  }

  
  